body {
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  padding-bottom: 65px;
  font-family: Helvetica; /* Helvetica */
  padding-right: 10px;
  padding-left: 10px;
}

/* ---------------------------------- Overlay ---------------------------------- */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 4vw;
  color: #000000;
  opacity: 0.6;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #c4c4c4;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.navigation-overlay {
  margin-top: 25px;
  margin-right: 20px;
  float: right;
  font-size: 3rem;
  opacity: 0.2;
  transition: 0.2s ease;
}

.navigation-overlay:hover {
  transition: 0.2s ease;
  transform: scale(1.02);
  opacity: 1;
}
/*
.navigation-overlay:active {
  transition: 0.2s ease;
  transform: scale(0.9);
}
*/
.overlay-title {
  font-size: 3vw;
  margin-left: -30px;
  font-weight: 100;
  font-weight: 700;
  color: black;
  opacity: 0.8;
  text-decoration: underline;
}

#nav-sticky {
  position: sticky;
  top: 0px;
  z-index: 5;
}

/* ---------------------------------- Index ---------------------------------- */
/* Navigation */
.logo-text {
  padding-left: 5px;
  float: left;
  font-size: 3rem;
  font-weight: 400;
  font-family: Helvetica;
  opacity: 0.2;
  transition: 0.2s ease;
}

.logo-text:hover {
  transition: 0.2s ease;
  opacity: 1;
}

#logo-img {
  margin-top: 25px;
  margin-left: 20px;
  width: 200px;
  transition: ease 0.3s;
  opacity: 0.7;
  cursor: pointer;
}

#logo-img:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
  opacity: 1;
}

#logo-img:active {
  transform: scale(0.9);
  transition: ease 0.3s;
}

#nav-bar {
  padding-bottom: 7vw;
}

.navigation {
  padding: 10px;
  float: right;
  font-size: 40px;
  opacity: 0.2;
}

.navigation:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: rgb(88, 88, 88);
}

a:link {
  background-color: transparent;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

/* Project Selection */
.projects-genre {
  margin-left: 0px;
  margin-top: 6vw;
}

.homepage-title {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: -5vw;
  color: black;
  text-align: center;
}

.homepage-subtitle {
  font-size: 5vw;
  font-weight: 900;
  color: black;
  opacity: 0.1;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;

  animation-name: about-text-scale;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.cover-image {
  overflow: none;
  width: 90vw;
  height: 500px;
  object-fit: cover;
  transition: 0.2s ease;
  border-radius: 30px;
  margin-bottom: 50px;
}

.cover-image:hover {
  filter: brightness(80%);
  transform: scale(1.01);
  transition: 0.2s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.cover-image-text {
  position: absolute;
  /* top: 20%; */
  left: 50%;
  text-align: center;
  transform: translate(-50%, -420%);
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  pointer-events: none;
  color: whitesmoke;
}

/* Projects Selection -  Hausaufgabe */
.cover-image-ha {
  overflow: none;
  width: 90vw;
  height: 500px;
  object-fit: cover;
  transition: 0.3s ease;
  border-radius: 30px;
}

.cover-image-ha:hover {
  filter: brightness(80%);
  filter: blur(6px);
  transform: scale(1.01);
  transition: 0.3s ease;
}

#blur-on-hover:hover {
  filter: blur(6px);
  transition: 0.3s ease;
}

#HA-nav {
  opacity: 0.1;
}

/* ---------------------------------- Projects ---------------------------------- */
/* Main Images */
.thirds {
  overflow: none;
  margin: 0 auto;
  width: 31%;
  padding: 0px;
  border-radius: 2vw;
  position: relative;
  display: inline-block;
  transition: 0.3s ease;
  object-fit: cover;
}

#webdesign-imgs {
  width: 20vw;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#thirds-imgs {
  text-align: center;
  padding-bottom: 10vw;
  transition: ease 0.4s;
  display: flex;
}

#proj-title-header {
  color: black;
  font-size: 4vw;
  font-family: Helvetica;
  text-align: center;
  font-weight: 700;
  padding-bottom: 100px;
  padding-top: 100px;
}

/* Description / Concept */
.projects-info-container {
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 0vw;
  margin-right: 0vw;

  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 15vw;
  padding-right: 15vw;

  background-color: white;
}

#prev-versions {
  width: 30vw;
  height: 40vw;
  border-radius: 2vw;
  margin-right: 20px;
  margin-bottom: 20px;
  object-fit: cover;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

#prev-versions-video {
  width: 100%;
  height: 37vw;
  border-radius: 2vw;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  background-color: transparent;
}

#proj-info-head {
  overflow: hidden;
  font-family: Helvetica; /* Fat */
  font-size: 4vw;
  text-align: left;
}

#proj-info-text {
  font-size: 2vw;
  font-family: Helvetica; /* Light */
  text-align: left;
  font-weight: 300;
  line-height: 2.5vw;
  padding-right: 30px;
  padding-left: 30px;
}

#proj-info-year {
  font-size: 2vw;
  font-family: Helvetica;
  text-align: right;
  font-weight: 300;
  opacity: 0.15;
  line-height: 2.4rem;
  padding-right: 30px;
  padding-left: 30px;
}

/* Next / Previous Buttons */
#previous {
  float: left;
}

#next {
  float: right;
}

#button {
  text-align: center;
  display: block;
  position: sticky;
  top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  border-width: 3px;
}

button {
  background-color: black;
  border-color: transparent;
  border: none;
  border-width: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Helvetica;
  font-weight: bold;
  height: 70px;
  width: 150px;
  border-radius: 100px;
  transition: ease-in-out 0.2s;
}

button:hover {
  transition: ease-in-out 0.2s;
  background-color: white;
  border: none;
  mix-blend-mode: exclusion;
  border-width: 3px;
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(1.1);
}

/* ---------------------------------- Hausaufgabe ---------------------------------- */
/* Hausaufgabe Site Heading */
.header {
  background-color: white;
  padding-bottom: 3%;
  position: sticky;
  z-index: -1;
  top: 0px;
  padding-top: 5px;
}

#hausaufgabe-title-header {
  font-size: 11vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  transition: 0.3s ease;
  text-align: left;
  line-height: 1rem;
  top: 0;
  padding-top: 7%;
  margin-left: 20px;
}

#hausaufgabe-subtitle-header {
  font-size: 2.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: rgb(185, 185, 185);
  transition: 0.3s ease;
  text-align: left;
  margin-left: 25px;
}

/* Slideshow */
#img-slideshow {
  height: 100%;
  width: 30%;
  object-fit: cover;
  display: block;
  margin: auto auto;
  border-radius: 2vw;
}

.slideshow-container {
  position: relative;
  margin-top: 10%;
  margin-bottom: 0%;
  padding-top: 12vw;
  padding-bottom: 12vw;
  /* box-shadow: 0px -10vw 100px white; */
  background-color: white;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.3vw;
  padding-left: 2.3vw;
  padding-right: 2.3vw;
  margin-top: -50px;
  color: rgb(196, 196, 196);
  border-radius: 100%;
  font-size: 3vw;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 20vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.prev {
  left: 20vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Tinder UI */
.tinder-ui-container {
  text-align: center;
  margin: auto;
  position: absolute;
  overflow: none;
  transform: translateY(-38vw) translateX(33vw);
  border-radius: 3vw;
}

.tinder-UI {
  width: 32vw;
  margin: auto;
  display: block;
  border-radius: 3vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------- Mobile ---------------------------------- */
@media screen and (max-width: 900px) {
  /* Overlay */
  .overlay-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 9vw;
    color: #000000;
    opacity: 0.6;
    display: block;
    transition: 0.3s;
  }

  /* Navigation */
  #nav-bar {
    padding-bottom: 7vw;
  }

  .navigation {
    padding: 10px;
    float: right;
    font-size: 2vw;
    opacity: 0.2;
  }

  .navigation:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: rgb(88, 88, 88);
  }

  .logo-text {
    float: left;
    font-weight: 400;
    font-family: Helvetica;
    opacity: 0.2;
    transition: 0.2s ease;
  }

  #logo-img {
    margin-top: 25px;
    margin-left: 20px;
    width: 150px;
    transition: ease 0.3s;
    opacity: 0.7;
    cursor: pointer;
  }

  .navigation-overlay {
    margin-top: 25px;
    margin-right: 20px;
    float: right;
    font-size: 2.5rem;
    opacity: 0.2;
    transition: 0.2s ease;
  }

  .navigation-overlay:hover {
    transition: 0.2s ease;
    transform: scale(1.02);
    opacity: 1;
  }

  a:link {
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 9vw;
  }

  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

  /* Hausaufgabe Site Heading */
  .header {
    background-color: white;
    padding-bottom: 3%;
    position: sticky;
    z-index: -1;
    top: 0px;
    padding-top: 5px;
  }

  #hausaufgabe-title-header {
    font-size: 11vw;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.3s ease;
    text-align: left;
    line-height: 1rem;
    top: 0;
    padding-top: 30%;
    margin-left: 20px;
  }

  #hausaufgabe-subtitle-header {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(185, 185, 185);
    transition: 0.3s ease;
    text-align: left;
    margin-left: 25px;
  }

  /* Mobile - Index Projects Selection */
  .container {
    position: relative;
    text-align: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
  }

  .cover-image {
    overflow: none;
    width: 80vw;
    height: 500px;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 30px;
    margin-bottom: 50px;
  }

  .cover-image:hover {
    filter: brightness(80%);
    transform: scale(1.01);
    transition: 0.5s ease;
  }

  .projects-genre {
    margin-left: 40px;
  }

  /* Mobile - Project Sites */
  .thirds {
    overflow: none;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 100px;
    border-radius: 5vw;
    position: relative;
  }

  #thirds-imgs {
    text-align: center;
    padding-bottom: 50px;
    transition: ease 0.4s;
    display: block;
  }

  #proj-title-header {
    color: black;
    font-size: 4vw;
    font-family: Helvetica;
    text-align: center;
    font-weight: 700;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .homepage-title {
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: -3vw;
    color: black;
    text-align: left;
  }

  .homepage-subtitle {
    font-size: 4.5vw;
    font-weight: 100;
    color: black;
    opacity: 0.3;
    text-align: left;
  }

  /* Mobile - Slideshow */
  .slideshow-container {
    position: relative;
    margin-top: 10%;
    margin-bottom: 0%;
    padding-top: 20vw;
    padding-bottom: 20vw;
    box-shadow: 0px -10vw 100px white;
    background-color: white;
  }

  #img-slideshow {
    height: 100%;
    width: 60%;
    object-fit: cover;
    display: block;
    margin: auto auto;
    border-radius: 4vw;
  }

  .mySlides {
    display: none;
  }

  .cursor {
    cursor: pointer;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 1.3vw;
    padding-left: 2.3vw;
    padding-right: 2.3vw;
    margin-top: -50px;
    color: rgb(196, 196, 196);
    border-radius: 40%;
    font-size: 7vw;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 4vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 2;
  }

  .prev {
    left: 4vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 2;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Mobile - Tinder UI */
  .tinder-ui-container {
    text-align: center;
    margin: auto;
    position: absolute;
    overflow: none;
    transform: translateY(-85%) translateX(30%);
    /*
    transform: translateY(-72vw) translateX(17.5vw);
    */
    border-radius: 3vw;
  }

  .tinder-UI {
    width: 59vw;
    margin: auto;
    display: block;
    border-radius: 5.2vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  /* Mobile - Concept / Sketches */
  .projects-info-container {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #proj-info-head {
    overflow: hidden;
    font-size: 8vw;
    text-align: left;
  }

  #proj-info-text {
    font-size: 4vw;
    text-align: left;
    line-height: 5vw;
    padding-right: 30px;
    padding-left: 30px;
  }

  #proj-title-header {
    color: black;
    font-size: 5vw;
    font-family: Helvetica;
    font-weight: 100;
    text-align: center;
    padding-bottom: 80px;
  }

  #proj-info-year {
    font-size: 4vw;
    font-family: Helvetica;
    text-align: right;
    font-weight: 300;
    opacity: 0.15;
    line-height: 2.4rem;
    padding-right: 30px;
    padding-left: 30px;
  }

  #prev-versions {
    width: 100%;
    height: 100%;
    border-radius: 5vw;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 80px;
    background-color: rgb(219, 219, 219);
  }
}
